/* -- Stylesheet for web pages created by Lexique Pro -- */

/* fonts added: Corpus Bambara de Référence */
@font-face { 
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
/* noto-serif-regular - latin-ext_latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-serif-v6-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */;
}

/* noto-serif-regular - latin-ext_latin
@font-face {
  font-family: 'Noto Sans Nko';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/NotoSansNKo-Regular.ttf') format('ttf');
}
 */

body {font-size:120%;}
input {font-size:100%;}
table {width:60%;margin:auto;}

#haut {height:12%;}
#bas {top:13%;}
#basfr {top:13%;}
@media (max-height:450px) {
#haut {height:20%;}
#bas {top:21%;}
#basfr {top:21%;}
}

@media (max-width: 640px) {
    * {
        box-sizing: border-box;
    }
    
    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        font-size:140%;
        width: auto;
        margin: 0;
        padding: 0;
    }
    input {font-size:90%;}
    
    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }
    
    table {width:99%;margin-left:1%;}
    /* conserver le ratio des images */

    img {
        height: auto;
    }
    
    /* gestion des mots longs */

    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word; /* passage à la ligne forcé */
    }
    
    code,
    pre,
    samp {
        white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }
    
    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

    .element1,
    .element2 {
        float: none;
        width: auto;
    }
    
    /* masquer les éléments superflus */

    .hide_mobile {
        display: none !important;
    }
    
    /* Un message personnalisé */

    /*body:before {
        content: "Version mobile du site";
        display: block;position:absolute;top:0;width:100%;
        text-align: center;
        font-style: italic;
        color: #777;
    }*/
}
/* styles added for title and navigation: Corpus Bambara de Référence */
.title {text-align:center;color:#000;font-family:"Noto Sans","Arial"; font-size:1.5em;position:relative;top:5px;}
.title1 {height:50%;text-align:left;color:#000;font-family:"Noto Sans","Arial"; font-size:95%;font-weight:bold;position:relative;top:0px; background-color: black;color:white;}
.title1  a {text-decoration: underline; color:white;}
.title1  a:visited{text-decoration: none; color:white;}
.title1  a:hover{text-decoration: none; color:red;}

.stitre {font-size:0.5em;}
.corpuspub {font-size:0.3em;}
.altindex {height:50%;font-family:"Noto Sans","Arial"; position:absolute;top:0px;right:10px;color:white;font-size:95%;}
.altindex  a {text-decoration: none; color:white;}
.altindex  a:visited{text-decoration: none; color:white;}
.altindex  a:hover{text-decoration: none; color:red;}

.navig {position:absolute;top:2px;left:2px;width:30%;height:35%;overflow:scroll;overflow:auto;text-align:left;color:#000;font-family:"Noto Serif","Times New Roman";font-size:95%;}
.navig a {border:1px solid lightgrey;}
.navig1 {height:50%;width:100%; font-family:"Noto Serif","Times New Roman";font-size:1.2em;text-align:center;}
.title a:hover {background-color:beige;border:1px solid gray;}
.title a:active {background-color:#000; color:#FFF;border:1px solid red;}
.navig a:hover {background-color:beige;border:1px solid gray;}
.navig a:active {background-color:#000; color:#FFF;border:1px solid red;}
.intro {border:2px solid CornflowerBlue;padding:20px;
  background-color:AliceBlue;
  visibility:hidden;
  position:fixed;
  left: 47%;
  top: 0px;
  width: 49%;
  height:90%;overflow:scroll;overflow:auto
  opacity: 0.93; filter: alpha(opacity=93);
  z-index:1000;
  font-size:0.8em;font-family:"Noto Serif",Times New Roman}
.ancreintro {position: relative; z-index: 1000;}
.intro table td {height:0.67em; min-height:0.67em; font-size:0.67em;}
.introclose {position:absolute;top:1px;left:1px;background-color:red;color:white;font-family:"Noto Sans","Arial"}
#haut {position:fixed;top:0px;left:0px;z-index:100;width:100%;border-bottom:6px solid lightblue;}
#bas {position:fixed;left:0px;z-index:100;height:100%;width:100%;overflow:scroll;overflow:auto}
#basfr {position:fixed;left:0px;z-index:100;width:100%;height:100%;overflow:scroll;overflow:auto} 
#basfr table {table-layout: fixed; }
#basfr table col {width:50%;}
#basfr table td {border-bottom:1px solid lightgrey;}
.mmc {border:1px solid beige;width:40%;float:right;}
.search {position:absolute;top:15%;right:0px;z-index:1000;background-color:lightblue;padding:5px;width:30%;float:right;margin-right:1em;}
.search1{height:50%;text-align:center;margin-top:5px;width:100%;font-size:95%;}
input {width:50%;}
h3 {text-align:center;margin-top:0px;margin-bottom:0px;}
.clnknt {margin-left:1em;margin-right:0.5em;font-size:0.6em;background-color: lightgrey;padding-right:3px;padding-left:3px;color:gray;}
.clnknt a {margin-right:1em;cursor:pointer;}
.clnknt a:hover{background-color:yellow;color:red;text-decoration:none;}


/* 
pour la version désambiguisation, 
mettre à visible, 
pour la version public à hidden 
*/
/* DISAMB:  NOTE : toggle between Public-mode and Disamb-mode is now done in javascript via top-left menu * option
.Gl {visibility:visible;}
.clnk {visibility:visible;margin-left:1em;margin-right:0.5em;font-size:0.6em;background-color: lightgrey;padding-right:3px;padding-left:3px;color:gray;}
 */

/* PUBLIC  */
.Gl {visibility:hidden;}
.clnk {visibility:hidden;margin-left:1em;margin-right:0.5em}


.clnk a {margin-right:1em;cursor:pointer;}
.clnk a:hover{background-color:yellow;color:red;text-decoration:none;}

a:after{
    padding: 2px;
    display:none;
    position: relative;
    top: 10px;
    right: 10px;
    width: 200px;
    max-width: 300px;
    text-align: right;
    font-size:10pt;
    font-weight: normal;
    color: #fef4c5;
    background-color: #000000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    overflow:auto;
    text-decoration:none;
}
a:hover:after{
    display: inline;
}

b.clnk a:after{ content: "exemples dans Corbama-net-tonal"; }
b.clnknt a:after{ content: "exemples dans le Corpus Corbama-net (non tonal)"; }

# liens vers la grammaire
i.gam a{color:#191970; }
i.gam a:after{ content: "Valentin Vydrin. Cours de grammaire bambara. Paris: Presses de l'INALCO. - locuteur : Amadou Mariko";}
i.gzd a{color:black; }
i.gzd a:after{ content: "Valentin Vydrin. Cours de grammaire bambara. Paris: Presses de l'INALCO. - locuteur : Zoumana Dembélé";}
i.gsc a{color:green; }
i.gsc a:after{ content: "Valentin Vydrin. Cours de grammaire bambara. Paris: Presses de l'INALCO. - locuteur : Sékou Coulibaly";}
i.gkc a{color:orange; }
i.gkc a:after{ content: "Valentin Vydrin. Cours de grammaire bambara. Paris: Presses de l'INALCO. - locuteur : Kalidou Coulibaly";}

.touche {border:1px solid grey;margin:1px;padding:1px}
.maud {text-align: center; font-family:"Noto Serif";margin-bottom:12px;}
.mpic {text-align: center;font-family:"Noto Serif";margin-bottom:4px;}

/* ---------- PARAGRAPHS ----------- */
  /* lpLexEntryPara */
p.lxP {text-align:left;margin:20px 0 0 6%;text-indent:-5%;    border-top: 1px solid gray;}
p.lxPva {text-align:left;margin:20px 0 0 6%;text-indent:-5%;    border-top: 1px solid gray;font-size:70%; background-color:whitesmoke;}

  /* lpLexEntryPara_KeepWithNext */
p.lxP_KwNxt {text-align:left;margin: 0.25em 0 0 3.5em;text-indent:-3.5em;page-break-after:avoid;}
  /* lpLexEntryPara2 */
p.lxP2 {text-align:left;margin: 0 0 0 5%;text-indent:0;}
p.lxP2va {text-align:left;margin: 0 0 0 5%;text-indent:0;font-size:70%; background-color:whitesmoke;}

  /* lpLexEntryPara2_KeepWithNext */
p.lxP2_KwNxt {text-align:left;margin: 0.25em 0 0 3.5em;text-indent:0;page-break-after:avoid;}
  /* lpLexSubEntryPara */
p.lxSP {text-align:left;margin: 0.25em 0 0 4.7em;text-indent:-3.5em;}
  /* lpLexSubEntryPara2 */
p.lxSP2 {text-align:left;margin: 0.25em 0 0 4.7em;text-indent:0;}
  /* lpTitlePara */
p.TtlP {font-size:1.25em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;text-align:center;margin: 1.5em 0 1.5em 0;text-indent:0;page-break-after:avoid;}
  /* lpTitle2Para */
p.TtlP2 {font-size:0.92em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;text-align:left;margin: 1em 0 0.5em 0;text-indent:0;page-break-after:avoid;}
  /* lpPicturePara */
p.Pic {text-align:center;margin: 0.5em 0 0.5em 0;text-indent:-0;page-break-after:avoid;}

/* ---------- SPANS NEW ----------- */
  /* lpTitle */
span.Ttl {font-size:1.17em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpTitle2 */
span.Ttl2 {font-size:0.92em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpLexEntryName */
span.Lxe {font-size:1em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;border-top: 1px solid black;border-bottom: 2px solid gray;}
span.Lxeva {font-size:1em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;border-top: 1px solid black;background-color:whitesmoke;}
  /* lpHeaderEntry */
span.He {font-size:0.92em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpMiniHeading  - changed from block to inline 10/12/2020*/
span.Mnh {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}

  /* 10/12/2020 : replace html text by css fixed content */
span.Mnhrv {border-bottom:1px solid red;display:inline;margin: 10px 0 0 5%;font-size:0.83em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
span.Mnhrv::before {content:"Voir entrée principale : ";}
span.Mnhva {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
span.Mnhva::before {content:"Variante : ";}
span.Mnhvam {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
span.Mnhvam::before {content:"Variantes : ";}
span.Mnhsyn {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
span.Mnhsyn::before {content:"Synonyme : ";}
span.Mnhsynm {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
span.Mnhsynm::before {content:"Synonymes : ";}
span.Mnhlitt {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
span.Mnhlitt::before {content:"Litt : ";}
span.Mnhbw {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
span.Mnhbw::before {content:"Source : ";}
span.Mnhant {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
span.Mnhant::before {content:"Antonyme(s) : ";}
span.Mnhcat {display:inline;margin: 10px 0 0 5%;font-size:0.75em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#2F4F4F;}
span.Mnhcat::before {content:"Catégorie : ";}


  /* lpLanguageLabel */
span.Lng {font-size:0.75em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#191970;}
  /* lpPartOfSpeech */
span.PS {font-size:0.92em;font-weight:bold;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#191970;}
  /* lpExampleRef */
span.ExRef {font-size:0.58em;font-weight:normal;font-family:"Noto Sans","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpPhonetic */
span.Pho {font-size:0.75em;font-weight:normal;font-family:"Noto Sans","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:navy;}
  /* lpScientific */
span.Sci {font-size:0.83em;font-style:italic;font-weight:normal;text-decoration:underline;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpBorrowedWord */
span.Bor {font-size:0.83em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:navy;}
  /* lpEtymology */
span.Ety {font-size:0.83em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:navy;}
  /* lpCategory */
span.Cat {font-size:0.75em;font-weight:bold;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#2F4F4F;}
  /* lpExample */
span.Exe {display:block;width:80%;margin-left:20px;font-size:0.92em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#004d4d;}
  /* lpEncycInfo */
span.Enc {display:block;width:80%;font-size:0.83em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpGloss */
span.Gl {font-size:0.92em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpMorph */
span.Mrph {font-size:0.75em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:green;}
  /* lpMorphSub */
span.MorphS {font-size:0.67em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:green;}
  /* lpMainCrossRef */
span.MXRef {font-size:0.9em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#511515;}
a.MXRef {font-size:0.9em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#511515;}

  /* added 09/12/2020 for \ve  */
/* span.ve {text-decoration:line-through;font-size:0.9em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#511515;}
span.ve a:after{ content: "orthographe à éviter"; } */
/* try this instead : */
a.ve {text-decoration:line-through;font-size:0.9em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#511515;}
a.ve::after { content: "orthographe à éviter"; text-decoration:none;}
  /* lpMainCrossRefSub */
span.MXRefS {font-size:0.67em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#290a0a;}
  /* lpCrossRef */
span.XRef {font-size:0.75em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:teal;}
  /* lpCrossRefSub */
span.XRefS {font-size:0.67em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:teal;}
  /* lpSpAfterEntryName */
span.SpAftEnt {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpTitleLetter */
span.TtleL {font-size:0.75em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpTitleMenuItem */
span.TtleMI {font-size:0.67em;font-weight:bold;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpSenseNumber */
span.SnsN {font-size:0.92em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpPunctuation */
span.Pnct {font-size:0.83em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpHomonymIndex */
span.HomoI {font-size:0.58em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpLexicalFunction */
span.LexF {font-size:0.95em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:maroon;}
a.LexF {font-size:0.95em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:maroon;}

  /* lpLexicalFunctionSub */
span.LexFS {font-size:0.67em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:maroon;}
  /* lpParadigm */
span.Para {font-size:0.75em;font-weight:bold;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:navy;}
  /* lpNotes_anthropology */
span.Not_a {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpNotes_discourse */
span.Not_d {display:block;width:80%;font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpNotes_grammar */
span.Not_g {display:block;width:80%;font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpNotes_phonology */
span.Not_p {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpNotes_questions */
span.Not_q {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpNotes_sociolinguistics */
span.Not_s {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpNotes_general */
span.Not_gen {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpGlossBambara */
span.GlBm {font-size:0.83em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpEncycInfoBambara */
span.EncBm {font-size:0.83em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpGlossFrench */
span.GlFr {margin-left:30px;font-size:0.92em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#696969;}
span.GlFr1 {font-size:1em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#000;}

span.GlEn {display:block;margin-left:30px;font-size:0.92em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:green;}
span.GlRu {display:block;margin-left:30px;font-size:0.92em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:blue;}
span.GlNko {margin-left:30px;font-size:0.92em;font-weight:normal;font-family: "Noto Sans Nko","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:darkslateblue;}

  /* lpEncycInfoFrench */
/*span.EncFr {display:inline;margin: 10px 0 0 5%;font-size:0.83em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#2F4F4F;}*/
span.EncFr {display:inline;font-size:0.83em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#2F4F4F;}
/* abandonné, cf message VV : span.EncFr::before {content:"Sémantisme : ";} */
  /* lpLiteralMeaningFrench */
span.LitMFr {font-size:0.83em;font-style:italic;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#2F4F4F;}
  /* lpIndexFrench */
span.IxFr {font-size:0.83em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:#696969;}
span.IxEn {font-size:0.83em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:green;}
span.IxRu {font-size:0.83em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:blue;}
span.IxNko {font-size:0.83em;font-weight:normal;font-family:"Noto Sans Nko","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:darkslateblue;}
a.IxBm {font-size:0.83em;font-weight:bold;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
a.IvBm {font-style:italic;font-size:0.75em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
a.IvBm::after { content: "variante (non recommandée)"; text-decoration:none;}
a.IeBm {text-decoration: line-through !important;font-style:italic;font-size:0.7em;font-weight:normal;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:grey;}
a.IeBm::after { content: "orthographe à éviter"; text-decoration:none;}



   /* lpUserStylefv */
span.lpUserStylefv {font-size:0.75em;font-weight:bold;font-family:"Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpUserStylefe */
span.lpUserStylefe {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpUserStylefn */
span.lpUserStylefn {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpUserStylefr */
span.lpUserStylefr {font-size:0.75em;font-weight:normal;font-family:"Noto Serif","Noto Sans","Arial Unicode MS",Arial,sans-serif;color:black;}
  /* lpHighlight */
span.lpHighlight {background-color: #FFFF00}


/* ---------- LINKS ----------- */
  a:link   {text-decoration: none;}
  a:visited{text-decoration: none;}
  a:active {text-decoration: none;}
  a:hover  {text-decoration: underline;}

/* ---------- HIGHLIGHTING ----------- */
.fragment { background-color:#CCCCFF;color:black;}

/* ---------- TITLE PAGE ----------- */
  body.lpTitlePage {background-color:white;font-size:100%;}
  p.lpTitleMain {margin:0;margin-bottom:0.1em;font-family:Verdana,Arial,sans-serif;font-size:1.5em;font-weight:bold;}
  table.lpTitleTable {border-collapse:collapse;border:1px solid silver;}
  td.lpTitleLetterCell {width:1%;text-align:center;background-color: #EEEEEE;cursor:pointer;cursor:hand;border:1px solid silver;}
  td.lpTitleLetterCellHover {width:1%;text-align:center;background-color: #CCCCFF;cursor:pointer;cursor:hand;border:1px solid silver;}
  td.lpTitleLetterCellUnused {width:1%;text-align:center;background-color: #FFFFFF;;border:1px solid silver;}
  td.lpTitleMenuCell {text-align:center;background-color: #EEEEEE;cursor:pointer;cursor:hand;border:1px solid silver;}
  td.lpTitleMenuCellHover {text-align:center;background-color: #CCCCFF;cursor:pointer;cursor:hand;border:1px solid silver;}

